body
{
background: url('/image/space-galaxy.avif'); 
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}
header
{
    background-color: rgba(102, 51, 117, 0.918);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    border-radius: 0 0 20px 20px;
    text-align: center;
    padding: 5px;
    line-height: 10px;
}
header h1
{
    font-size: 250%;
    opacity: 0.7;
}
header a
{
    font-size: 140%;
    margin-right: 10px;
    text-decoration: none;
    color:rgb(228, 121, 21);
}
footer
{
    color: white;
    position: fixed;
    bottom: 0;
}
#l1
{
    position: absolute;
    margin-top: 100px;
    color: white;
}